/* TodoList component styles */

.container {
    /* TODO: Style the container */
}

/* TODO: Add styles for:
 * - Input form
 * - Filter buttons (with active state)
 * - Todo items
 * - Completed todo style (strikethrough/opacity)
 * - Delete button
 * - Items counter
 */
