/* PasswordStrength component styles */

.container {
    /* TODO: Style the container */
}

/* TODO: Add styles for:
 * - Input field
 * - Show/hide toggle button
 * - Strength indicator
 * - Color variants (weak=red, medium=orange, strong=green)
 */
