/* RegistrationForm component styles */

.form {
    /* TODO: Style the form */
}

.field {
    /* TODO: Style field container */
}

/* TODO: Add styles for:
 * - Labels
 * - Input fields
 * - Error messages
 * - Invalid field styling (red border)
 * - Valid field styling (green border)
 * - Submit button (enabled/disabled states)
 */
