/* UserDirectory component styles */

.container {
    /* TODO: Style the container */
}

/* TODO: Add styles for:
 * - Search input
 * - Loading state
 * - Error state
 * - User cards/list
 * - User avatar
 * - Empty search results
 */
